<!DOCTYPE html>
<html>
<head>
  <title>Mastodon farkwar</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "mastodon_farkwar/application", media: "all" %>
  <%= javascript_include_tag "mastodon_farkwar/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
